/* merriweather-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/merriweather-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* merriweather-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/merriweather-v30-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* merriweather-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/merriweather-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* lora-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lora-v35-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* lora-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/lora-v35-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* lora-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lora';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/lora-v35-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* libre-baskerville-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* libre-baskerville-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/libre-baskerville-v14-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* libre-baskerville-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/libre-baskerville-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* Import CMU */

@font-face{font-family:'CMS';src:url('cmunrm.eot');src:url('cmunrm.eot?#iefix') format('embedded-opentype'), url('cmunrm.woff') format('woff'), url('cmunrm.ttf') format('truetype'), url('cmunrm.svg#cmunrm') format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'CMS';src:url('cmunbx.eot');src:url('cmunbx.eot?#iefix') format('embedded-opentype'), url('cmunbx.woff') format('woff'), url('cmunbx.ttf') format('truetype'), url('cmunbx.svg#cmunbx') format('svg');font-weight:bold;font-style:normal}@font-face{font-family:'CMS';src:url('cmunti.eot');src:url('cmunti.eot?#iefix') format('embedded-opentype'), url('cmunti.woff') format('woff'), url('cmunti.ttf') format('truetype'), url('cmunti.svg#cmunti') format('svg');font-weight:normal;font-style:italic}@font-face{font-family:'CMS';src:url('cmunbi.eot');src:url('cmunbi.eot?#iefix') format('embedded-opentype'), url('cmunbi.woff') format('woff'), url('cmunbi.ttf') format('truetype'), url('cmunbi.svg#cmunbi') format('svg');font-weight:bold;font-style:italic}

@font-face {
  font-family: 'CMSS';
  src: url('cmunsl.eot');
  src: url('cmunsl.eot?#iefix') format('embedded-opentype'),
      url('cmunsl.woff') format('woff'),
      url('cmunsl.ttf') format('truetype'),
      url('cmunsl.svg#cmunsl') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
  
@font-face {
  font-family: 'CMSS';
  src: url('cmunbl.eot');
  src: url('cmunbl.eot?#iefix') format('embedded-opentype'),
      url('cmunbl.woff') format('woff'),
      url('cmunbl.ttf') format('truetype'),
      url('cmunbl.svg#cmunbl') format('svg');
  font-weight: bold;
  font-style: normal;
}
  